@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-shop_light_brown: #66030e;
  --color-shop_dark_green: #063c28;
  --color-shop_light_bg: #f6f6f6;
  --color-shop_orange: #fb6c08;
  --color-shop_darkColor: #151515;
  --color-shop_light_blue: #26619c;
  --color_lightColor: #52525b;
  --color_lightOrange: #fe5a1d;
  --color-deal-bg: #f1f3f8;
}
